#page-landing{
    background: var(--color-primary);
}
#page-landing #container{
    color: var(--color-text-in-primary);
}
.logo-container{
    text-align: center;
    margin-bottom: 3.2rem;
}
.logo-container img{
    height: 10rem;
}
.logo-container h2{
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 4.6rem;
}
.hero-image{
    width: 100%;
}
.buttons-container{
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}
.buttons-container a{
    width: 25rem;
    height: 8rem;

    border-radius: 0.8rem;
    font: 700 2.4rem Archivo;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    color: var(--color-button-text);

    transition: all 0.3s;
}
.buttons-container a img{
    width: 4.5rem;
    margin-right: 3rem;
}
.buttons-container a.study{
    background-color: var(--color-primary-lighter);
    margin-right: 1.5rem;
}
.buttons-container a.give-classes{
    background-color: var(--color-secondary);
}
.buttons-container a.study:hover{
    background-color: var(--color-primary-light);
}
.buttons-container a.give-classes:hover{
    background-color: var(--color-secondary-dark);
}
#container p.connections{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}
#container p.connections img{
    margin: 0 0.5rem;
}
@media(max-width: 699px){
    :root{
        font-size: 40%; /* modifica as medidas rem */
    }
}
@media(min-width: 1100px){
    #page-landing #container{
        max-width: 1100px;
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 350px 1fr;
        grid-template-areas:
        "proffy image image"
        "button button texto";
        gap: 60px;
    }
    #container .logo-container{
        grid-area: proffy;
        text-align: initial;
        align-self: center;
    }
    #container .logo-container img{
        height: 100%;
    }
    #container .hero-image{
        grid-area: image;
    }
    #container .buttons-container{
        grid-area: button;
        justify-content: flex-start;
    }
    #container p.connections {
        grid-area: texto;
        justify-content: flex-end;
        font-size: 1.3rem;
    }
}